In [1]:
import os
import pandas as pd

In [2]:
df1 = pd.read_csv('data/college_plans.csv')

In [3]:
df1 = df1.drop('StudentID', axis=1)
df1.columns = ['gender', 'parentincome', 'iq', 'encourage', 'college']

In [4]:
df1.columns

Index(['gender', 'parentincome', 'iq', 'encourage', 'college'], dtype='object')

In [5]:
df1.dtypes

gender          object
parentincome     int64
iq               int64
encourage       object
college         object
dtype: object

In [6]:
df1

       gender  parentincome   iq       encourage                  college
0        Male         31770   90      Encouraged  Does not plan to attend
1        Male         79310  110      Encouraged          Plans to attend
2      Female         36600  109  Not Encouraged  Does not plan to attend
3      Female         66770  114      Encouraged          Plans to attend
4        Male         59400  103      Encouraged          Plans to attend
...       ...           ...  ...             ...                      ...
16378    Male         48620  100      Encouraged          Plans to attend
16379    Male         79530  103      Encouraged          Plans to attend
16380    Male          6900   68  Not Encouraged  Does not plan to attend
16381  Female         41400  108      Encouraged  Does not plan to attend
16382  Female         17800   99  Not Encouraged  Does not plan to attend

[16383 rows x 5 columns]

In [10]:
#Import LabelEncoder
from sklearn import preprocessing

#Create LabelEncoder
le = preprocessing.LabelEncoder()

#Convert string categories into numbers for Parent Encouragement and CollegePlans
df1['encourage'] = le.fit_transform(df1['encourage'])
df1['college'] = le.fit_transform(df1['college'])
df1['gender'] = le.fit_transform(df1['gender'])

df1.head()

   gender  parentincome   iq  encourage  college
0       1         31770   90          0        0
1       1         79310  110          0        1
2       0         36600  109          1        0
3       0         66770  114          0        1
4       1         59400  103          0        1

In [7]:
df1['gender'] = df1['gender'].astype(str)
df1['encourage'] = df1['encourage'].astype(str)
df1['college'] = df1['college'].astype(str)

df1.dtypes

gender          object
parentincome     int64
iq               int64
encourage       object
college         object
dtype: object

In [8]:
target = df1['college']
features = df1.drop('college', axis=1)

In [27]:
# Split data into train, validation and test sets

# Import train_test_split function
from sklearn.model_selection import train_test_split

x, x_test, y, y_test = train_test_split(features, target, test_size= 0.2, random_state=0)

x_train, x_dev, y_train, y_dev = train_test_split(x, y, test_size= 0.2, random_state= 10)

In [32]:
#Training a decision tree model

#Import decision tree classifier
from sklearn.tree import DecisionTreeClassifier

#Create a decision tree classifier with default params
dtree= DecisionTreeClassifier()

#Train the model with training set
dtree.fit(x_train, y_train)

DecisionTreeClassifier()

In [33]:
#Predict the target for the development dataset
dev_predict = dtree.predict(x_dev)

dev_predict

array(['1', '1', '1', ..., '0', '0', '0'], dtype=object)

In [30]:
# Evaluate the decision tree model on development set

# Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy: ", metrics.accuracy_score(y_dev, dev_predict))

Accuracy:  1.0

In [31]:
# Create a decision tree classifier with criterion = entropy and max_depth = 3
dtree = DecisionTreeClassifier(criterion = 'entropy', max_depth = 2)

# Train the model using the training set
dtree.fit(x_train, y_train)

# Predict the target for the development dataset
dev_predict = dtree.predict(x_dev)

# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy: ", metrics.accuracy_score(y_dev, dev_predict))

Accuracy:  1.0