In [2]:
# Import library
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Read csv data file
# Data without feature standardization
df = pd.read_csv('data/bankdata.csv')

In [4]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

df['sex'] = le.fit_transform(df['sex'])
df['married'] = le.fit_transform(df['married'])
df['car'] = le.fit_transform(df['car'])
df['save_act'] = le.fit_transform(df['save_act'])
df['current_act'] = le.fit_transform(df['current_act'])
df['mortgage'] = le.fit_transform(df['mortgage'])
df['pep'] = le.fit_transform(df['pep'])
df['region'] = le.fit_transform(df['region'])

df = df.drop(columns = ['id'])
df

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,48,0,0,17546.00,0,1,0,0,0,0,1
1,40,1,3,30085.10,1,3,1,0,1,1,0
2,51,0,0,16575.40,1,0,1,1,1,0,0
3,23,0,3,20375.40,1,3,0,0,1,0,0
4,57,0,1,50576.30,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
595,61,0,0,47025.00,0,2,1,1,1,1,0
596,30,0,0,9672.25,1,0,1,1,1,0,0
597,31,0,3,15976.30,1,0,1,1,0,0,1
598,29,1,0,14711.80,1,0,0,1,0,1,0
599,38,1,3,26671.60,0,0,1,0,1,1,1

In [5]:
# sns.heatmap(df.corr(numeric_only = True), annot = True)
# plt.show()

In [6]:
# df['pep'] = df['pep'].astype(str)
# df['sex'] = df['sex'].astype(str)
# df['region'] = df['region'].astype(str)
# df['married'] = df['married'].astype(str)

In [7]:
from sklearn.model_selection import train_test_split

# Indicate the target column
target = df['pep']

# Indicate the columns that will serve as features
features = df.drop(['pep'], axis = 1)

# Split data into train and test sets
# Split the dataset into training + development set and test set
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state = 2)

In [8]:
# Create the pandas DataFrame
df_bar = pd.DataFrame(columns=['model', 'validation', 'test'])

In [9]:
# Import function for k-fold cross validation
from sklearn.model_selection import cross_val_score

# Import the Gaussian Naive Bayes classifier
from sklearn.naive_bayes import GaussianNB

# Create a Gaussian Naive Bayes classifier with default parameters
gnb = GaussianNB()

# Use 10-fold cross validation to perform training and validation on the training set
# Parameter scoring = 'accuracy' will compute accuracy
scores = cross_val_score(gnb, x_train, y_train, cv = 5, scoring = 'accuracy')

# Display the array containing accuracy from 10 folds or iterations
scores

array([0.5625    , 0.66666667, 0.625     , 0.63541667, 0.6875    ])

In [10]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.6354166666666666

In [11]:
# Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics# Running prediction

gnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = gnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

df_bar.loc[0] = ['gaussiannb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

Accuracy (Test):  0.675

        model  validation   test
0  gaussiannb    0.635417  0.675

In [12]:
# Import the Bernoulli Naive Bayes classifier
from sklearn.naive_bayes import BernoulliNB
# Create a Bernoulli Naive Bayes classifier with default parameters
bnb = BernoulliNB()
# Use 10-fold cross validation to perform training and validation on the training set
scores = cross_val_score(bnb, x_train, y_train, cv = 5, scoring = 'accuracy')
# Display the array containing accuracy from 10 folds or iterations
scores

array([0.59375   , 0.57291667, 0.61458333, 0.5625    , 0.66666667])

In [13]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.6020833333333333

In [14]:
# Running prediction
bnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = bnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.525

In [15]:
df_bar.loc[1] = ['bernoullinb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

         model  validation   test
0   gaussiannb    0.635417  0.675
1  bernoullinb    0.602083  0.525

In [16]:
# Import the Multinomial Naive Bayes classifier
from sklearn.naive_bayes import MultinomialNB
# Create a Multinomial Naive Bayes classifier with default parameters
mnb = MultinomialNB()
# Use 10-fold cross validation to perform training and validation on the training set
scores = cross_val_score(mnb, x_train, y_train, cv = 5, scoring = 'accuracy')
# Display the array containing accuracy from 10 folds or iterations
scores

array([0.54166667, 0.58333333, 0.64583333, 0.625     , 0.5625    ,
       0.54166667, 0.47916667, 0.66666667, 0.54166667, 0.66666667])

In [17]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.5854166666666668

In [18]:
# Running prediction
mnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = mnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.6333333333333333

In [19]:
df_bar.loc[2] = ['multinomialnb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

           model  validation      test
0     gaussiannb    0.635417  0.675000
1    bernoullinb    0.602083  0.525000
2  multinomialnb    0.585417  0.633333

In [20]:
# Create the pandas DataFrame
df_bar = pd.DataFrame(columns=['model', 'validation', 'test'])

In [21]:
df_new = df.copy()

# Define the name of each bin
cut_labels_4 = [0, 1, 2, 3]

# Define the boundaries of the 4 bins
# Min age is 0.42 and max age is 80
cut_bins = [0, 20, 30, 50, 80]

# Divide the data into 4 bins with the manually-defined range
df_new['age_cat'] = pd.cut(df_new['age'], bins = cut_bins, labels = cut_labels_4)

In [22]:
cut_bins = [0, 25000, 45000, 65000]
cut_labels_4 = [0, 1, 2]
df_new['income_cat'] = pd.cut(df_new['income'], bins = cut_bins, labels = cut_labels_4)

In [23]:
df_new

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep,age_cat,income_cat
0,48,0,0,17546.00,0,1,0,0,0,0,1,2,0
1,40,1,3,30085.10,1,3,1,0,1,1,0,2,1
2,51,0,0,16575.40,1,0,1,1,1,0,0,3,0
3,23,0,3,20375.40,1,3,0,0,1,0,0,1,0
4,57,0,1,50576.30,1,0,0,1,0,0,0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,61,0,0,47025.00,0,2,1,1,1,1,0,3,2
596,30,0,0,9672.25,1,0,1,1,1,0,0,1,0
597,31,0,3,15976.30,1,0,1,1,0,0,1,2,0
598,29,1,0,14711.80,1,0,0,1,0,1,0,1,0
599,38,1,3,26671.60,0,0,1,0,1,1,1,2,1

In [24]:
from sklearn.model_selection import train_test_split

# Indicate the target column
target = df_new['pep']

# Indicate the columns that will serve as features
features = df_new.drop(['pep', 'age', 'income'], axis = 1)

# Split data into train and test sets
# Split the dataset into training + development set and test set
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state = 2)

In [25]:
# Use 10-fold cross validation to perform training and validation on the training set
# Parameter scoring = 'accuracy' will compute accuracy
scores = cross_val_score(gnb, x_train, y_train, cv = 5, scoring = 'accuracy')

# Display the array containing accuracy from 10 folds or iterations
scores

array([0.60416667, 0.64583333, 0.625     , 0.65625   , 0.70833333])

In [26]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.6479166666666667

In [27]:
# Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics# Running prediction

gnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = gnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

df_bar.loc[0] = ['gaussiannb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

Accuracy (Test):  0.6833333333333333

        model  validation      test
0  gaussiannb    0.647917  0.683333

In [28]:
# Import the Bernoulli Naive Bayes classifier
from sklearn.naive_bayes import BernoulliNB
# Create a Bernoulli Naive Bayes classifier with default parameters
bnb = BernoulliNB()
# Use 10-fold cross validation to perform training and validation on the training set
scores = cross_val_score(bnb, x_train, y_train, cv = 5, scoring = 'accuracy')
# Display the array containing accuracy from 10 folds or iterations
scores

array([0.61458333, 0.60416667, 0.63541667, 0.63541667, 0.65625   ])

In [29]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.6291666666666667

In [30]:
# Running prediction
bnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = bnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.575

In [31]:
df_bar.loc[1] = ['bernoullinb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

         model  validation      test
0   gaussiannb    0.647917  0.683333
1  bernoullinb    0.629167  0.575000

In [32]:
# Import the Multinomial Naive Bayes classifier
from sklearn.naive_bayes import MultinomialNB
# Create a Multinomial Naive Bayes classifier with default parameters
mnb = MultinomialNB()
# Use 10-fold cross validation to perform training and validation on the training set
scores = cross_val_score(mnb, x_train, y_train, cv = 5, scoring = 'accuracy')
# Display the array containing accuracy from 10 folds or iterations
scores

array([0.52083333, 0.58333333, 0.6875    , 0.6875    , 0.5       ,
       0.625     , 0.5625    , 0.6875    , 0.58333333, 0.625     ])

In [33]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.60625

In [34]:
# Running prediction
mnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = mnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.65

In [35]:
df_bar.loc[2] = ['multinomialnb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

           model  validation      test
0     gaussiannb    0.647917  0.683333
1    bernoullinb    0.629167  0.575000
2  multinomialnb    0.606250  0.650000

In [50]:
df_enc = pd.get_dummies(df_new, prefix = ['region'], columns = ['region'])
df_enc.head()

,age,sex,income,married,children,car,save_act,current_act,mortgage,pep,age_cat,income_cat,region_0,region_1,region_2,region_3
0,48,0,17546.0,0,1,0,0,0,0,1,2,0,1,0,0,0
1,40,1,30085.1,1,3,1,0,1,1,0,2,1,0,0,0,1
2,51,0,16575.4,1,0,1,1,1,0,0,3,0,1,0,0,0
3,23,0,20375.4,1,3,0,0,1,0,0,1,0,0,0,0,1
4,57,0,50576.3,1,0,0,1,0,0,0,3,2,0,1,0,0

In [51]:
df_bar = pd.DataFrame(columns=['model', 'validation', 'test'])

In [52]:
# Indicate the target column
target = df_enc['pep']

# Indicate the columns that will serve as features
features = df_enc.drop(['pep'], axis = 1)

# Split data into train and test sets
# Split the dataset into training + development set and test set
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state = 2)

In [53]:
# Create a Gaussian Naive Bayes classifier with default parameters
gnb = GaussianNB()

# Use 10-fold cross validation to perform training and validation on the training set
# Parameter scoring = 'accuracy' will compute accuracy
scores = cross_val_score(gnb, x_train, y_train, cv = 5, scoring = 'accuracy')

# Display the array containing accuracy from 10 folds or iterations
scores

array([0.57291667, 0.65625   , 0.59375   , 0.625     , 0.66666667])

In [54]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.6229166666666666

In [55]:
# Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics# Running prediction

gnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = gnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

df_bar.loc[0] = ['gaussiannb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

Accuracy (Test):  0.675

        model  validation   test
0  gaussiannb    0.622917  0.675

In [58]:
# Create a Bernoulli Naive Bayes classifier with default parameters
bnb = BernoulliNB()
# Use 10-fold cross validation to perform training and validation on the training set
scores = cross_val_score(bnb, x_train, y_train, cv = 5, scoring = 'accuracy')
# Display the array containing accuracy from 10 folds or iterations
scores

array([0.61458333, 0.625     , 0.63541667, 0.65625   , 0.65625   ])

In [59]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.6375

In [60]:
# Running prediction
bnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = bnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.5666666666666667

In [61]:
df_bar.loc[1] = ['bernoullinb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

         model  validation      test
0   gaussiannb    0.622917  0.675000
1  bernoullinb    0.637500  0.566667

In [62]:
# Import the Multinomial Naive Bayes classifier
from sklearn.naive_bayes import MultinomialNB
# Create a Multinomial Naive Bayes classifier with default parameters
mnb = MultinomialNB()
# Use 10-fold cross validation to perform training and validation on the training set
scores = cross_val_score(mnb, x_train, y_train, cv = 5, scoring = 'accuracy')
# Display the array containing accuracy from 10 folds or iterations
scores

array([0.58333333, 0.58333333, 0.64583333, 0.5625    , 0.5625    ,
       0.58333333, 0.4375    , 0.70833333, 0.5625    , 0.625     ])

In [63]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.5854166666666667

In [64]:
# Running prediction
mnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = mnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.6166666666666667

In [65]:
df_bar.loc[2] = ['multinomialnb', scores.mean(), metrics.accuracy_score(y_test, test_predict)]
df_bar

           model  validation      test
0     gaussiannb    0.622917  0.675000
1    bernoullinb    0.637500  0.566667
2  multinomialnb    0.585417  0.616667