In [79]:
# Import library
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
# Read csv data file
# Data without feature standardization
df = pd.read_csv('data/bankdata.csv')

In [81]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

df['sex'] = le.fit_transform(df['sex'])
df['married'] = le.fit_transform(df['married'])
df['car'] = le.fit_transform(df['car'])
df['save_act'] = le.fit_transform(df['save_act'])
df['current_act'] = le.fit_transform(df['current_act'])
df['mortgage'] = le.fit_transform(df['mortgage'])
df['pep'] = le.fit_transform(df['pep'])
df['region'] = le.fit_transform(df['pep'])

df = df.drop(columns = ['id'])

df

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,48,0,1,17546.00,0,1,0,0,0,0,1
1,40,1,0,30085.10,1,3,1,0,1,1,0
2,51,0,0,16575.40,1,0,1,1,1,0,0
3,23,0,0,20375.40,1,3,0,0,1,0,0
4,57,0,0,50576.30,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
595,61,0,0,47025.00,0,2,1,1,1,1,0
596,30,0,0,9672.25,1,0,1,1,1,0,0
597,31,0,1,15976.30,1,0,1,1,0,0,1
598,29,1,0,14711.80,1,0,0,1,0,1,0
599,38,1,1,26671.60,0,0,1,0,1,1,1

In [82]:
# sns.heatmap(df.corr(numeric_only = True), annot = True)
# plt.show()

In [83]:
# df['pep'] = df['pep'].astype(str)
# df['sex'] = df['sex'].astype(str)
# df['region'] = df['region'].astype(str)
# df['married'] = df['married'].astype(str)

In [84]:
from sklearn.model_selection import train_test_split

# Indicate the target column
target = df['pep']

# Indicate the columns that will serve as features
features = df.drop(['pep'], axis = 1)

# Split data into train and test sets
# Split the dataset into training + development set and test set
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state = 2)

In [85]:
# Import function for k-fold cross validation
from sklearn.model_selection import cross_val_score

# Import the Gaussian Naive Bayes classifier
from sklearn.naive_bayes import GaussianNB

# Create a Gaussian Naive Bayes classifier with default parameters
gnb = GaussianNB()

# Use 10-fold cross validation to perform training and validation on the training set
# Parameter scoring = 'accuracy' will compute accuracy
scores = cross_val_score(gnb, x_train, y_train, cv = 5, scoring = 'accuracy')

# Display the array containing accuracy from 10 folds or iterations
scores

array([1., 1., 1., 1., 1.])

In [86]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 1.0

In [87]:
# Running prediction
gnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = gnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  1.0

In [88]:
# Import the Bernoulli Naive Bayes classifier
from sklearn.naive_bayes import BernoulliNB
# Create a Bernoulli Naive Bayes classifier with default parameters
bnb = BernoulliNB(binarize = 0.0)
# Use 10-fold cross validation to perform training and validation on the training set
scores = cross_val_score(bnb, x_train, y_train, cv = 5, scoring = 'accuracy')
# Display the array containing accuracy from 10 folds or iterations
scores

array([1., 1., 1., 1., 1.])

In [89]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 1.0

In [90]:
# Running prediction
bnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = bnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  1.0

In [91]:
# Import the Multinomial Naive Bayes classifier
from sklearn.naive_bayes import MultinomialNB
# Create a Multinomial Naive Bayes classifier with default parameters
mnb = MultinomialNB()
# Use 10-fold cross validation to perform training and validation on the training set
scores = cross_val_score(mnb, x_train, y_train, cv = 10, scoring = 'accuracy')
# Display the array containing accuracy from 10 folds or iterations
scores

array([0.89583333, 0.9375    , 0.875     , 0.91666667, 0.9375    ,
       0.97916667, 0.91666667, 0.97916667, 0.85416667, 1.        ])

In [92]:
# Print the mean accuracy score
print('Accuracy =', scores.mean())

Accuracy = 0.9291666666666666

In [93]:
# Running prediction
mnb.fit(x_train, y_train)
# Predict the target for the test dataset
test_predict = mnb.predict(x_test)
# Compute the model accuracy on the development set: How often is the classifier correct?
print("Accuracy (Test): ", metrics.accuracy_score(y_test, test_predict))

Accuracy (Test):  0.95